<div class="container aqua-gradient">
<h2 class="intro-heading ">South Side <span>Hair Salon</span></h2>
<form action="/clients/$client.getId()" method="post">
<div class="form-group">
<label for="name">New name</label>
<input id="name" name="name" type="text" class="form-control">
</div>
<button type="submit" class="btn aqua-gradient">Update name</button>
</form>
<a type="button" href="/" class="btn aqua-gradient">Add more stylist</a>
</div>
